.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin: 0 10px;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}