.App {
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header--component {
  margin: 0 30px;
}

.App-header--indicators {
  width: 10vw;
}

.App-header--regions {
  width: 15vw;
}

.App-header--districts {
  min-width: 40vw;
}

.App-link {
  color: #61dafb;
}

#calendar-graph {
  margin-left: 10px;
  width: 1950px;
}

#multiline-graph {
  margin-left: 270px;
}
